<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= user.rank %>
  </p>

  <p>
    <strong>Father:</strong>
    <%= user.father %>
  </p>

</div>
